.contenedor-dos{
    background: #FFFFFF;
    left: 0px;
    width: 84.5rem;
    height: 48rem;
    display: flex;
    align-items: center;
  }
  .segunda-parte{
    margin-left: 299px;    
  }
  .primerh1{
    color: #343434;
    @include textStyles(Poppins,400,39px,0.55,normal);
  }
  
  .segundoh1{
    color: #E0752F;
    @include textStyles(Poppins,400,39px,0.55,normal);
  }
  
  .barra{
    width: 32px;
    height: 384px;
    background: #E0752F;
  }
  
  .texto1{
    width: 768px;
    height: 197px;
    display: inline-block;
    @include textStyles(Roboto,300,16px,0.22,normal);
    color: #343434;
    opacity: 1;
    text-align: justify;
    margin-top: 44px;
  }