.contenedor-dos{
    background: #FFFFFF;
    // top: 768px;
    left: 0px;
    width: 85rem;
    height: 48rem;
    display: flex;
    align-items: center;
  }
  .segunda-parte{
    margin-left: 299px;    
  }
  
  
  .segundoh1{
    color: #E0752F;
    letter-spacing: 0.55px;
  }
  
  .barra{
    width: 32px;
    height: 384px;
    background: #E0752F;
  }
  
  .texto1{
    width: 768px;
    height: 197px;
    display: inline-block;
    letter-spacing: 0.22px;
    color: #343434;
    opacity: 1;
    text-align: justify;
  }