.contenedor-cuatro{
    @include fullSpace;
    background: #fff;
    display: flex;
    background-image: url(../../assets/img/section4-image.png);
    background-repeat: no-repeat;
    background-position: right;
    @include response(md){
      width: 100%;
      background-image: none;
    }
  }
  
  .accordion{
    margin-top: 9rem;
    margin-left: 6.3rem;
    margin-right: 37.25rem;
    width: 90%;
    height: 80%;
    @include response(md){
      margin-top: 8rem;
      margin: auto;
    }
  }

  .accordion-header{
    @include response(md){
      font-size: 16px;
    }
  }
  
  .accordion-body{
    width: 90%;
    height: 10rem;
    @include textStyles(Roboto,400,16px,0.22,normal);
    color:#5f6368;
    padding: 40px 37px 37px 39px;
    overflow: hidden;
    @include response(md){
      font-size: 16px;
      text-align: justify;
    }
  }
  
  .accordion-button{
    @include textStyles(Roboto,600,16px,0.22,normal);
    color: #5F6368;
  }
  
  .accordion-button colapsed{
    color: orange;
  }
  