.contenedor-cuatro{
    width: 84.5rem;
    height: 48rem;
    background: #fff;
    display: flex;
    background-image: url(../../assets/img/section4-image.png);
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .accordion{
    margin-top: 144px;
    margin-left: 101px;
    width: 50%;
  }
  
  .accordion-body{
    color:#5f6368;
  }
  .accordion-button colapsed{
    color: orange;
  }
  