
.carrusel{
  @include fullSpace;
}

  
.titulos{
  padding-top: 9.6rem;
  padding-left: 6.3rem;
}
.titulo-uno{
  height: 7.2rem;
  @include textStyles(Poppins,600,48px,0.67,normal);
  color: #FFFFFF;
  @include response(md){
    font-size: 35px;
  }

}

.titulo-dos{
    height: 2.6rem;
    @include textStyles(Roboto,300,16px,0.22,normal);
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    @include response(md){
      font-size: 14px;
    }
  }
  
  .button{
    @include btnStyles;
    @include response(md){
      font-size: 13px;

      width: 5rem;
    }
  }
  
  .redondeo{
    border-radius: 50%;
  }

  .imagenescarrusel1{
    @include fullSpace;
    background-image: url(../../assets/img/imagen2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .imagenescarrusel2{
    @include fullSpace;
    background-image: url(../../assets/img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .imagenescarrusel3{
    @include fullSpace;
    background-image: url(../../assets/img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .carousel-indicators{
    justify-content: flex-start;
    margin-left: 8%;
    @include response(md){
      height: 2.5rem;
      width: 33rem;
      margin-left: 13%;
    }
  }

