.contenedor{
    width: 84.5rem;
    height: 48rem;
    background-image: url(../../assets/img/imagen2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ubicacion{
    width: 100%;
    height: 42rem;
  }
  
  .titulos{
    margin-top: 154px;
    margin-left: 101px;
  }
  .titulo-uno{
    width: 554px;
    height: 115px;
    @include textStyles(Poppins,600,48px,0.67,normal);
    color: #FFFFFF;
}
.titulo-dos{
    width: 30rem;
    height: 2.6;
    @include textStyles(Roboto,300,16px,0.22,normal);
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .button{
    @include btnStyles;
  }
  
  .redondeo{
    border-radius: 50%;
  }
  