.contenedor{
    width: 85rem;
    height: 48rem;
    background-image: url(../../img/imagen2.png);
    background-repeat: no-repeat;
 
 
    background-size: cover;
}

.ubicacion{
    width: 100%;
    height: 42rem;
    border: 2px solid rgb(212, 18, 230);
  }
  
  .titulos{
    margin-top: 154px;
    margin-left: 101px;
  }
  
  .titulo-uno{
    width: 554px;
    height: 115px;
    letter-spacing: 0.67px;
    font-family: Poppins;
    font-size: 36px;
    color: #FFFFFF;
  }
  
  .titulo-dos{
    width: 30rem;
    height: 2.6;
    font-style: normal;
    font-weight:lighter;
    font-size: 16px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .button{
    width: 144px;
    height: 48px;
    background: #E0752F;
    color: #FFFFFF;
    border-radius: 25px;
    border-style: none;
    margin-top: 30px;      
  }
  
  .redondeo{
    border-radius: 50%;
  }
  