.contenedor-cinco{
  @include fullSpace;
}


.titulos-cinco{
  width: 285px;
  height: 100px;
  margin-top: 120px;
  margin-left: 101px;
}

.titulos-cinco .titulo1{
  @include textStyles(Poppins,600,39px,0.55,normal);
  height: 50.5px;
  color: #343434;
}

.titulos-cinco .titulo2{
  @include textStyles(Poppins,600,39px,0.55,normal);
  height: 50.5px;
  color: #E0752F;
 
}

.imagen-cinco{
  background-image: url(../../assets/img/imagen1.png);
  background-repeat: no-repeat;
  width: 594px;
  height: 400px;
  margin-top: -21px;
  left: 671px;
  margin-left: 671px;
}

.formulario{
  padding: 10px;
  padding-top: 0;
  width: 471px;
}

.formulario__input-txt, .formulario__textarea{
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid #BEBEBE;

}

.formulario__input-txt{
  height: 33px;
  padding: 10px;
  margin-bottom: 10px;
  @include textStyles(Roboto,500,12px,0.22,normal);
}

.formulario__textarea{
  min-width: 100%;
  max-width: 100%;
  max-height: 73px;
}

.labelformularios{
  color: #5F6368;
  @include textStyles(Roboto,400,16px,0.22,normal);
}

.button-cinco{
  margin-top: 4rem;
 @include btnStyles;
}

.texto-placeholder{
  color: #5F6368;
  @include textStyles(Roboto,300,12px,0.22,lighter);
}
