/*            SECCION CINCO             */
.contenedor-cinco{
  width: 84.5rem;
  height: 48rem;
}


.titulos-cinco{
  width: 285px;
  height: 100px;
  margin-top: 120px;
  margin-left: 101px;
}

.titulos-cinco .titulo1{
  @include textStyles(Poppins,400,39px,0.55,normal);
  color: #343434;
}

.titulos-cinco .titulo2{
  @include textStyles(Poppins,400,39px,0.55,normal);
  color: #E0752F;
}

.imagen-cinco{
  background-image: url(../../assets/img/imagen1.png);
  background-repeat: no-repeat;
  width: 594px;
  height: 400px;
  top: 192px;
  left: 671px;
  margin-left: 671px;
}

.formulario{
  padding: 10px;
  padding-top: 0;
  
}

.formulario__input-txt, .formulario__textarea{
  display: block;
  width: 100%;
  height: 33px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #BEBEBE;

}

.formulario__input-txt{
  padding: 10px;
  margin-bottom: 10px;
}

.formulario__textarea{
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
  max-height: 200px;
}

.button-cinco{
  margin-top: 4rem;
 @include btnStyles;
}
