.footer{
    display: flex;
    width: 100%;
    height: 96px;
    
    background: #343434;
    color: #DCE1DA;
    justify-content: space-between;
    align-items: center;
    padding-right: 101px;
  
  }
  
  .texto-footer{
    margin-top: 38px;
    margin-left: 101px;
    margin-bottom: 37px;
  }
  
