$carousel-indicator-width: 0.5rem;
$carousel-indicator-height:0.5rem;
$carousel-indicator-active-bg: #E0752F !important; 
$accordion-button-active-color:#5f6368;
$accordion-bg: #F8F8F8;
$accordion-button-active-bg:#F2F4F1;
$accordion-button-color:#7f8286;
$accordion-icon-color: #E0752F;
$accordion-icon-active-color: #E0752F;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap.scss';