
@import "/src/Components/Footer/footer";
@import "/src/Components/NavBar/NavBar";
@import "/src/Components/Seccion5/seccion5";
@import "/src/Components/Section1/section1";
@import "/src/Components/Section2/section2";
@import "/src/Components/Section3/section3";
@import "/src/Components/Section4/section4";
@import "/src/assets/conf";
@import "/src/assets/custom"; 