.contenedor-tres{
  @include fullSpace;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.imagentres{
  width: 65%;
  height: 72%;
  background-image: url(../../assets/img/section3-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  @include response(md){
    width: 100%;
    height: 100%;
    background-size: cover;
    align-items: center;
    justify-content: center;
  }
}
  
.caja{
  position: relative;
  width: 50%;
  height: 50%;
  background: #E0752F;
  padding-bottom: 31px;
  @include response(md){
    // width: 14.7rem;
    // height: 9.5rem;
  }
}

.flechas{
  position: absolute;
  width: 7.7rem;
  height: 3rem;
  top: 15rem;
  left: 73%; 
  @include response(md){
    top: 5.5rem;
    font-size: 10px;
    left: 10.9rem;
  }
}

.texto-caja1{
  width: 80%;
  color: #FFFFFF;
  opacity: 1;
  @include textStyles(Roboto,300,16px,0.22,normal);
  margin-left: 10%;
  margin-top: 7%;
  @include response(md){
    margin-top: 1rem;
    font-size: 10px;
    margin-left: 1.2rem;
  }
}

.texto-caja2{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0px;
  color: #FFFFFF;
  opacity: 1;
  @include textStyles(Poppins,medium,35px,0.55px,normal);
  @include response(md){
    font-size: 17px;
  }
}

.texto-caja3{
  width: 80%;
  height: 63px;
  margin-left: 10%;
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  @include textStyles(Roboto,300,16px,0.22,normal);
  @include response(md){
    width: 11rem;
    height: 1.2rem;
    font-size: 10px;
  }
}

.carousel-control-next{
  width: 100%;
  height: 90%;
  align-items: flex-end;
}
.carousel-control-prev{
  width: 50%;
  height: 90%;
  align-items: flex-end;
}

.flecha-izquierda{
background-image: url(../../assets/img/left.svg);
background-repeat: no-repeat;
width: 2.5rem;
height: 1.5rem;
  @include response(md){
    width: 4rem;
    height: 1.5rem;
    background-size: 1rem;
  }
}

.flecha-derecha{
background-image: url(../../assets/img/rigth.svg);
background-repeat: no-repeat;
width: 2rem;
height: 1.5rem;
  @include response(md){
    width: 4rem;
    height: 1.5rem;
    background-size: 1rem;
  }
}
