.contenedor-tres{
    // width: 84.5rem;
    // height: 48rem;
    @include fullSpace;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .imagentres{
    width: 966px;
    height: 552px;
    background-image: url(../../assets/img/section3-image.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .caja{
    position: relative;
    width: 471px;
    height: 304px;
    background: #E0752F;
    padding-bottom: 31px;
}

.flechas{
  position: absolute;
  width: 7.7rem;
  height: 3rem;
  top: 15rem;
  left: 73%; 
}

.texto-caja1{
  width: 137px;
  height: 21px;
  color: #FFFFFF;
  opacity: 1;
  @include textStyles(Roboto,300,16px,0.22,normal);
  margin-left: 10%;
  margin-top: 15%;
  margin-bottom: 0px;
}

.texto-caja2{
  width: 372px;
  height: 75px;
  margin-left: 10%;
  margin-bottom: 0px;
  color: #FFFFFF;
  opacity: 1;
  @include textStyles(Poppins,medium,35px,0.55px,normal);
}

.texto-caja3{
  width: 372px;
  height: 63px;
  margin-left: 10%;
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  @include textStyles(Roboto,300,16px,0.22,normal);
}

.carousel-control-next{
width: 100%;
height: 90%;
align-items: flex-end;
}
.carousel-control-prev{
width: 50%;
height: 90%;
align-items: flex-end;
}

.flecha-izquierda{
background-image: url(../../assets/img/left.svg);
background-repeat: no-repeat;
width: 2rem;
height: 1.5rem;
}

.flecha-derecha{
background-image: url(../../assets/img/rigth.svg);
background-repeat: no-repeat;
width: 2rem;
height: 1.5rem;
}
